<div id="register" class="page">
  <div class="auth-container">
    <div class="auth-box">
      <h2>Create Account</h2>
      <div class="step-buttons">
         <button (click)="changeTab('step1')">step 1</button>
         <button (click)="changeTab('step2')">step 2</button>
      </div>
      
      <form onsubmit="handleRegister(event)">
        <fieldset *ngIf="page == 'step1'">
          <div class="form-group">
            <label for="register-name">Full Name</label>
            <input
              type="text"
              id="register-name"
              placeholder="Enter your full name"
              required
            />
          </div>
          <div class="form-group">
            <label for="register-email">Email Address</label>
            <input
              type="email"
              id="register-email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="form-group">
            <label for="register-role">Role</label>
            <select id="register-role" required>
              <option value="">Select your role</option>
              <option value="faculty">Faculty Reviewer</option>
              <option value="student">Student</option>
              <option value="admin">Administrator</option>
            </select>
          </div>
          <button (click)="changeTab('step2')" type="button" class="submit-btn">Next</button>
        </fieldset>
        <fieldset *ngIf="page== 'step2'">
          <div class="form-group">
            <label for="register-department">Department</label>
            <input
              type="text"
              id="register-department"
              placeholder="Enter your department"
              required
            />
          </div>
          <div class="form-group">
            <label for="register-password">Password</label>
            <input
              type="password"
              id="register-password"
              placeholder="Create a password"
              required
            />
          </div>
          <div class="form-group">
            <label for="register-confirm">Confirm Password</label>
            <input
              type="password"
              id="register-confirm"
              placeholder="Confirm your password"
              required
            />
          </div>

          <button type="submit" class="submit-btn">Create Account</button>
        </fieldset>
      </form>
      <div class="form-footer">
        <p>
          Already have an account?
          <a (click)="loginPage()">Sign in here</a>
        </p>
      </div>
    </div>
  </div>
</div>
