
header{
    background-color: #cce1f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 5px 30px;
}

header h1{
    white-space: nowrap;
    font-size: 20px;
}
.topbar{
    display: flex;
    align-items: center;
    gap: 8px; 
    font-size: 12px;
}
.topbar i{
    color: #3780bb;
    font-size: 2rem;
}
.topbar span{
    font-weight: 400;
} 
.profile a{
    padding: 20px;
    text-decoration: none;
    color: #515f70;
    margin: 0 12px;
    font-weight: 600; 
    position: relative;
    
}
.profile a:hover::after, header .profile a.active::after{
    /* border-bottom: 3px solid#5885a2; */
    /* box-shadow: 0 0 0 3px ; */
    width: 100%;
    
}
.profile a::after, .profile a.active::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #5885a2;
    transition: .3s ease-in-out;
}
.profile{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile i{
    color: #798999;
}